/* .container {
	width: 90%;
	margin: 0 auto;
} */

#lineChart,
#myChart {
	margin: 25px 0;
}

#siteSelector {
	display: flex;
	flex-wrap: wrap;
	margin: 25px 0;
	justify-content: space-around;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
}

#siteSelector div {
	padding: 10px;
	color: #666;
	border-radius: 0.5rem;
}

#siteSelector div:hover {
	background: #537791;
	color: #fff;
	cursor: pointer;
}

#siteSelector .active {
	background: #537791;
	color: #fff;
}

#lastUpdate {
	font-style: italic;
	color: #666;
	margin-bottom: 25px;
}
