.container {
	width: 60%;
	margin: 0 auto;
}

#lineChart {
	padding-top: 30px;
}

#siteSelector {
	display: flex;
	margin-bottom: 30px;
	justify-content: space-between;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
}

#siteSelector div {
	padding: 10px;
	color: #666;
	border-radius: 0.5rem;
}

#siteSelector div:hover {
	background: #057ff3;
	color: #fff;
	cursor: pointer;
}

#siteSelector .active {
	background: #057ff3;
	color: #fff;
}
